main{
	padding: 3.5rem 0;

	background-color: lightgray;
}

h1{
	font-size: 2rem;
	font-weight: bold;

	text-align: center;
	text-transform: uppercase;

	color: #707070;
}

form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
	max-width: 800px;
	margin-top: 2.8rem;
	margin-right: auto;
	margin-left: auto;
}

.field{
	display: flex;
	flex-direction: column;

	width: 14rem;
	margin: 0.5rem 0;
}

.field label{
	font-size: 0.9rem;

	margin-bottom: 0.2rem;

	color: #696969;
}

.field input{
	font-size: 1.1rem;

	height: 2.2rem;
	padding-left: 0.5rem;

	border: 2px solid #696969;
	border-radius: 5px;
}

.field select{
	font-size: 1.1rem;

	width: 12rem;
	height: 2.6rem;
	padding-left: 0.5rem;

	border: 2px solid #696969;
	border-radius: 5px;
}

.field::after{
	content: '-';

	background-color: #605ab4;
}

.textBox{
	display: flex;
	flex-direction: column;

	width: 25rem;
	margin: 0.75rem 0;
}

textarea{
	font-size: 1.1rem;

	max-width: 100%;
	height: 5rem;
	max-height: 15rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;

	border: 2px solid #696969;
	border-radius: 5px;
}

.textBox label{
	font-size: 0.9rem;

	margin-bottom: 0.2rem;

	color: #696969;
}

.gustos{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 20rem;
	margin: 0.75rem 0;
}

.gustos label{
	font-size: 0.9rem;

	margin-bottom: 0.2rem;

	color: #696969;
}

.gustos div{
	display: flex;
	justify-content: flex-start;

	width: 100%;
	padding-left: 0.5rem;
}

.gustos div input{
	width: 1rem;
	height: 1rem;
}

.submit{
	display: flex;
	justify-content: center;

	width: 100%;
	margin-top: 1.75rem;
}

.submit button{
	font-size: 1.1rem;

	padding: 1rem 1.5rem;

	cursor: pointer;

	border: 2px solid #696969;
	border-radius: 4px;
	background-color: lightcyan;
}

/* TABLA */

.sctVentajas{
	padding: 2rem 0;

	background-color: #ffeac5;
}

.cntTable{
	display: flex;
	justify-content: center;

	width: 100%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

h2{
	font-size: 2rem;
	font-weight: bold;

	text-align: center;
	text-transform: uppercase;

	color: #707070;
}

th{
	font-size: 1.2rem;
	font-weight: 600;

	padding: 0.5rem;

	color: gray;
	border-bottom: 1px solid black;
}

td{
	padding: 0.5rem;

	border-bottom: 1px solid black;
}


